.alert{
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid #ccc;

  p{
    margin: 0;
  }

  &.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }

  &.alert-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  &.alert-error{
    color: #f2dede;
    background-color: #a94442;
    border-color: #ebccd1;
  }

  &.alert-success{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

}


body.is__offline .offline{
  display: flex;
}

.offline{
  @extend .alert;
  @extend .alert-error;
  margin: 0;
  z-index: 999999;
  border-radius: 0px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  vertical-align: middle;

  &__message{
    font-weight: 700;
    display: inline-block;
    flex: 1 0 auto;
    line-height: 1;
    padding: 5px 0 0 15px;
    font-size: 1.6rem;
  }

  &__iconCntr{
    display: inline-block;
  }

  &__icon{
    fill: #fff;
    height: 24px;
    width: 24px;
  }
}