.btn{
  display: inline-block;
  padding: 8px 18px;
  color: #fff;
  border-radius: $standard-border-radius;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}

a.btn:hover,a.btn:focus {
  text-decoration: none;
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
  }
}

[disabled], .disabled:hover{
  pointer-events: none;
  cursor: not-allowed;
}

.control-group.large .btn{
  padding: 15px 20px;
}

.btn-small{
  padding:4px 9px; 
  font-size: $font-size-small
}

.btn-large{
  padding:15px 80px;
  font-size: $font-size-large;

  @media only screen and (max-width: $screen-sm) {
    padding:15px 60px;
    width: 100%;
  }
}

.btn-last{
  margin-right: 0;
}

.btn-full-width{
  width: 100%;
  padding-left:0;
  padding-right:0;
}
.btn-transparent{
  border: 1px solid #fff;
}
.btn-opaque{
   border: 1px solid #ddd;
   color: #fff;
}
.btn-transparent-dark{
  border: 1px solid #777;
  color: #777;
}


// colors
.grey, .btn{
  background-color: #666
}
.blue, .btn-info{
  background: $blue;
}
.orange, .btn-warning{
  background: $orange;
}
.green, .btn-success{
  background: $green;
}
.red, .btn-danger{
  background: $red;
}
.light-grey{
  background-color: #d2dde0;
  color: #777;
}
.transparent, .btn-transparent, .btn-transparent-dark{
  background-color: transparent;
}
.btn-opaque{
  background-color: rgba(255, 255, 255, 0.25);
}
.purple{
  background-color: $purple;
}
.yellow{
  background-color: $yellow;
}