input, textarea, select, textarea{font: normal $font-size-base $font-stack;}

form{margin:0; padding:0;}

input, textarea, select{
  border: 1px solid #ccc;
  border-radius: $standard-border-radius;
  color: $primary-color;
  display: inline-block;
  font-size: $font-size-base;
  line-height: $font-size-base + 0.6;
  padding: $standard-padding / 2;
  width: 200px;
  vertical-align:middle;

  &.error{
    border: 1px solid #953b39;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  }
}

input[type=radio], input[type=checkbox]{width: auto; padding:0; margin:0 10px 0 0; border:0; box-shadow:none}

input[disabled], input[readonly]{
  background-color: #f2f2f2;
  cursor: not-allowed;
  opacity: 0.3;
}

input, textarea {
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

select {background-color: #FFFFFF; height: 42px;}

input[type="file"] {
  height: auto; 
  width: auto; 
  padding: 0; 
  border: none; 
  box-shadow: none; 
  -webkit-box-shaddow: none;
}

fieldset{
  margin: 20px 0 0 0; 
  padding: 0; 
  display: block; 
  border: none;
}

legend{
  padding: 0;
  display: block;
  font-size: 1.8rem;
  line-height: 1;
  margin: 0;
  color: $primary-color;
  width: 100%;
  font-weight: bold;
  text-align: left;

  &  + .control-group{
    margin-top:15px;
  }
}


label{
  font-size: $font-size-base; 
  display: block; 
  color: $primary-color;
}

// Various control sizes
.input-mini{width:50px;}
.input-short{width:100px;}
.input-med{width:150px;}
.input-xlong{width:300px;}
.input-xxlong{width:550px;}
.input-full{width:1024px;}
.input-full-width{
  width:100%;
  -webkit-min-logical-width: calc(100% - 16px);
}
.input-textarea {height: 200px;}
.input-large{ padding: 20px; font-size: 1.6rem;}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}


// Form structure
.control-group{
  clear: both; 
  margin-bottom: $standard-padding; 
  display: table;
  position: relative;

  &.no-margin{
      margin-bottom: 0;
  }

  &.large input{
    padding: $standard-padding;
    margin-bottom: 5px
  }

  &.short{

    & .input-med{
      width:146px;
    }

    &.short-space{ 
      padding-right: 8px
    }
  }
}

.control-group-grid{
  display: flex;
  flex-wrap: wrap;
}

.control-group-buttonRow{
    padding-top: 20px;
    border-top: 1px solid #eee;
    text-align: right;
}

.control-label{
  float: left; 
  width: 140px; 
  text-align: left;
}

.controls{
  margin-left:160px;
  position: relative;
}

.control-col-left{
  width: 90%;
  float: left;
  padding: 0;
  position: relative;

  @media only screen and (max-width: $screen-sm) {
    width: 80%;
  }
}

.control-col-right{
  width: 10%;
  float: left;
  padding-left: 10px;
  position: relative;

   @media only screen and (max-width: $screen-sm) {
    width: 20%;
  }
}

.control-icon-cntr{
  position: absolute;
  right: 10px;
  bottom: 3px;
  display: block;
}

.control-password-toggle{
  @extend .control-icon-cntr;
}

.control-icon{
    height: 25px;
    fill: #999;
}

.control-tooltip-cntr{
  display: inline-block;
  margin-left: 10px;
  width: 20px
}
.control-tooltip{
  fill: #ccc;
  width: 20px;
  position: absolute;
  top: -15px;
}

/* The switch - the box around the slider */
.control-switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  bottom: 5px;
}

.control-switch-static{
  position: relative;
  display: block;
  bottom: 0;
}

/* Hide default HTML checkbox */
.control-switch input {display:none;}

/* The slider */
.control-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .25s;
  transition: .25s;
}

.control-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .25s;
  transition: .25s;
}

input:checked + .control-slider {
  background-color: #2196F3;
}

input:focus + .control-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .control-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.control-switch-tag{
    position: absolute;
    right: 20px;
    top: 9px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 2px;
    border-radius: 3px;
  

  &-on{
    // background-color: rgba(33, 150, 243, 0.51);
    color: #2196F3;

    & > svg{
      fill: #2196F3;
    }
  }

  &-off{
      // background-color: #eee;
      color: #999;

      & > svg{
      fill: #999;
    }
  }
}

.control-switch-tag-icon{
  width: 20px;
  fill: #999;
}
.control-switch-tag-icon-on{
  // fill: #fff;
}



/* Rounded sliders */
.control-slider.round {
  border-radius: 34px;
}

.control-slider.round:before {
  border-radius: 50%;
}

// help text
.help-inline, #content p.help-inline{
  display: inline-block; 
  vertical-align: middle; 
  margin:0 0 0 ($standard-padding / 2); 
  font-size: $font-size-base;
}

.help-text{   
  clear: both;
  float: left;
  font-size: $font-size-base;;
  margin-top: $standard-padding;
}



// form types
.form-center{margin:0 auto;}
.form-small{width: 400px;}
.form-mini{width: 300px;}
.form-med{width: 600px;}

.form-left{
  & .control-label{
    margin-bottom: 10px;
    text-align: left;
  }

  .control-group{
    margin-bottom: $standard-padding;
  }

  & .controls{
    margin:0; 
    clear: both;

      .control-label{
        margin: 0;
      }
  }

  & .btn{
    margin:0 ($standard-padding / 2) 0 0;
  }
}

.form-labelOver{
  & .control-group{
    position: relative;
  }

  & .control-label{
    position: absolute; 
    left: 10px; 
    top: 3px; 
    color: #ccc;
  }
}

.form-full-width {
  width:100%;
  & .control-group {@extend .form-full-width}
  & .short.control-group {width: 50%}
  & .control-label {@extend .form-full-width}
}

.form-inline{
  float: left;
  width: 100%;
  display: flex;

  & .control-group{
    flex: auto; 
    display: inline-block;
  }

  & .last-control{
    flex: initial;
  }
}

.form-inline .control-group, .short.control-group{clear:none; float: left; position: relative;}
.form-inline .controls{margin:0;}
.form-inline .control-label{position: absolute; left:10px; top: 2px}
.form-inline .btn{ padding: 12px 15px; border-radius: 0 3px 3px 0; height: 42px; margin-right: 0;}
.form-inline .control-group.large .control-label{
  position: absolute; 
  left:10px; 
  top: 6px;
  z-index: 999;
}

%transparent-control{
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #999;
  color: #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-transparent{

  input{
    @extend %transparent-control;
  }

  textarea{
    @extend %transparent-control;
  }

}

