// Horizontal SVG Icon lists

.iconList{
	@extend %unstyled-list;
	display: flex;
	margin: 0 !important;

	&--heroIcons{
		margin: -43px auto 0 auto !important;
   		width: 25%;

   		@media only screen and (max-width: $screen-sm) {
   			margin: -15px auto 0 auto !important;
   			width: 50%;
   		}
	}

	&--right{
		float: right;

		li{
			margin-left: 30px;
		}
	}

	&--center{
		display: inline;
		text-align: center;
	}


	&__item{
		display: inline-block;
		line-height: 1;
		text-align: center;
		margin: 0;

		&--grid{
			flex: 1 0 auto;
			margin: 20px 10px;

			@media only screen and (max-width: $screen-md) {
				margin: 20px 0;
			}
		}

		&--space{
			margin: 0 60px 0 0 !important;

			@media only screen and (max-width: $screen-sm) {
				margin-right: 40px !important;
			}

			@media only screen and (max-width: $screen-sm) {
				margin: 0 !important;
				flex: 1 0 auto;
			}
		}
    	

		@media only screen and (max-width: $screen-xs) {
			margin: 0;
			width: (100% / 6);
			text-align: center;
		}
	}

	&__link{
		display: block;
		padding: 15px 0;

		&--btn{
			border-radius: 20px;
			border: 1px solid #fff;
			padding: 10px;
		}

		&--greyBtn{
			border-radius: 20px;
			border: 1px solid #999;
			padding: 10px;
		}
	}


	&__icon{
		width: 25px;

		&--white{
			fill: #fff;
		}
	}


	&__label{
		display: block;

		@media only screen and (max-width: $screen-sm) {
			display: none;
		}

		&--white{
			color: #fff;
		}

		&--small{
			font-size: 1rem;
		}
	}



	&__navLink{
		font-size: 1.6rem;
		line-height: 1.5;
		color: #777;
		display: flex;
		background-color: transparent;
		padding: 6px 10px 4px 10px;
		border-radius: 3px;

		&--activeOn{
			background-color: rgba(26, 188, 156, 0.1);
		}

		&--activeOff{
			background-color: rgba(192, 57, 43, 0.1);
		}
	}

	&__navLinkIconCntr{
		display: inline-block;
		margin-right: 10px;

		@media only screen and (max-width: $screen-sm) {
			text-align: center;
			width: 100%;
			margin: 0;
		}
	}

	&__navLinkIcon{
		width: 20px;
		fill: #777;

		&--activeOn{
			fill: $green;
		}

		&--activeOff{
			fill: $red;
		}
	}

	&__navText{
		display: inline-block;
    	flex: 1 1 0;

    	&--activeOn{
			color: $green;
			font-weight: 600;
		}

		&--activeOff{
			color: $red;
			font-weight: 600;
		}

    	@media only screen and (max-width: $screen-sm) {
    		display: none;
    	}
	}

	&__socialLogo{
		fill: #fff;
		margin-left: -30px;

		@media only screen and (max-width: $screen-xs) {
			width: 100%;
			margin: 0;
		}


		&--small{
			width: 20px;
			margin: 0;
		}

		&--grey{
			fill: #555;
		}
	}
}