.table{

  &--fullWidth{
    width: 100%;
  }

  th, td{
    padding: $standard-padding - 0.5;
  }

  th{
    font-weight: bold;
    text-align: left
  }

  tr{
    border-bottom: 1px dotted #ccc
  }

  tr[class*='span-'] {
    float: none;
    padding: 0px;
    position: relative;
  }

  tr[class*='span-']:last-of-type {
    padding-right: 0px;
    float: none;
  }

  tr.zebra, tbody > tr.zebra:nth-of-type(odd){
    background-color: #eee
  }

}

