.content{
	width: 100%;
	float: left;


	// left column
	&__column{
		@extend .span-3-10-lg;
		margin-top: 40px;
		float: left;
		padding: $standard-padding;
		position: relative;

		p{
			margin-bottom: 15px;
			line-height: 1.5;
		}


		&--full{
			width: 100%;
		}


		@media only screen and (max-width: $screen-md) {
			margin: 0;
			height: auto;
			width: 100%;
			padding: 0;

			&--pad{
				padding: $standard-padding;
			}
		}

		
		// expanded side navigation
		&--expanded{
			position: absolute;
			bottom: 0;
			z-index: 9999;
			width: 100%;
			background-color: #eee;

			@media only screen and (max-width: $screen-md) {
				bottom: -3px;
			}

			@media only screen and (max-width: $screen-sm) {
				position: fixed;
				top: 0;
				height: 100%;
				overflow-y: scroll;
			}

			.content__navItem{
				float: left;
				width: 50%;
				border-bottom: 2px solid #eee;

				@media only screen and (max-width: $screen-md) {
					&:last-of-type{
						border-bottom: none;
					}
				}

				@media only screen and (max-width: $screen-sm) {
					width: 100%;
					border-right: none;
				}
			}

			// hide the more icon
			.content__navItem--more{
				display: none;
			}

			.content__navItem--heading{
				display: block;
				width: 100%;
				z-index: 9;
				position: relative;
			}


			.content__nav{
				display: inline-block;
				height: 100%;

				&:after{
					content: "";
					position: absolute;
					height: 100%;
					width: 1px;
					background-color: #ccc;
					bottom: 3px;
					left: 50%;
					z-index: 1;
					display: block;

					@media only screen and (max-width: $screen-sm) {
						display: none;
					}
				}
			}

		}
	}



	&__nav{
		list-style-type: none;
		margin: 0;
		padding: 0;

		@media only screen and (max-width: $screen-md) {
			display: flex;
			background-color: #eee;
			border-bottom: 1px solid #ddd;
			width: 100%;
		}
	}


	&__navItem{
		margin-bottom: 20px;

		@media only screen and (max-width: $screen-md) {
			display: inline-block;
			flex: 1 0 auto;
			margin: 0;
			text-align: center;

			&:nth-of-type(1n+5){
				display: none;
			}

			&--showItem{
				display: block !important;
			}
		
			&--compose{
				display: none;
			}
		}

		&--heading{
			background-color: #eee;
			text-align: left;
			display: none;
		}

		
		&--more{
			display: none;

			@media only screen and (max-width: $screen-md) {
				display: block;
			}
		}
	}
	

	&__navLink{
		font-size: 1.6rem;
		line-height: 1.5;
		display: block;
		color: #777;

		&--flex{
			display: flex;
		}

		@media only screen and (max-width: $screen-md) {
			font-size: 1.6rem;
			padding: 15px;
			background-color: #f9f9f9;
		}

		&--icon{
			padding: 12px 0 0 0;
    		height: 100%;
		}
	}

	
	&__navIcon{
		fill: #777;
		width: 25px;
	}

	&__navIconClose{
		@extend .content__navIcon;
		width: 30px;
	}

	&__navIconCntr{
		display: inline-block;
		margin-right: 20px;
		vertical-align: middle;
		
		@media only screen and (max-width: $screen-sm) {
			margin: 0;
		    width: 100%;
		}
		
	}

	&__navText{
		display: inline-block;
		flex: 1 1 0;

		@media only screen and (max-width: $screen-sm) {
			display: none;
		}
	}


	&__navClose{
		display: block;
		padding: 10px;
		position: absolute;
	}

	&__navTitle{
		width: 100%;
		float: left;
		display: block;
		font-size: 4rem;
		font-weight: 200;
		padding: 15px 0;
		line-height: 1.5;
		text-align: center;
	}


	// main content area
	&__main{
		@extend .span-7-10-lg;
		float: left;
		padding: $standard-padding;
		margin-top: 0;


		&--fullWidth{
			width: 100%;
		}

		&--pullUp{
			margin-top: -60px;
		}

		&--centered{
			float: none;
			margin: 60px auto 0 auto;
		}

		&--pullUpCentered{
			float: none;
			margin: -60px auto 0 auto;
		}

		@media only screen and (max-width: $screen-md) {
			width: 100%;
			margin-top: 0;
		}


		// generics: shouldn't be doing this...
		h2, #cform h2{
			font-size: 3.2rem;
			font-weight: 300;
			border-bottom: 1px solid #eee;
			margin: 40px 0 20px 0;
			padding-bottom: 10px;
			line-height: 1;
			position: relative;
			color: #777;
		}

		h3{
			font-weight: 400;
			font-size: 2.4rem;
			margin-bottom: 15px;
			line-height: 1;
		}

		h4{
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 1;
		}

		p{
			font-size: 1.6rem;
			line-height: 2;
			margin-bottom: 16px;
		}

		ul, ol{
			margin: 0 0 16px 20px;

			li{
				font-size: 1.6rem;
				line-height: 1.5;
				margin-bottom: 16px;
			}
		}

		.ul-col-2{
			column-count: 2;
			list-style-type: none;
			margin: 0 0 40px 0;
			padding: 0;
		}


	}

	&__heading--1{
		font-size: 4rem;
		margin: 0 0 10px 0;
		line-height: 1;
		font-weight: 300;

		@media only screen and (max-width: $screen-sm) {
			text-align: center;
		}
	}

	&__subHeading{
		margin-bottom: 40px !important;
		line-height: 1.5 !important;
		font-size: 1.4rem !important;
		font-style: italic;

		@media only screen and (max-width: $screen-sm) {
			text-align: center;
		}
	}


	&__heading--edit{
		position: absolute;
		display: block;
		right: 0;
		height: 30px;
		width: 30px;
		bottom: 10px;
	}	

	&__heading--icon{
		fill: $blue;
	}

	&__heading--btn{
		position: absolute;
		right: 0;
		bottom: 10px;
		font-size: 1.8rem;
	}


	// messenger
	&__message{
		max-height: 500px;
		overflow: auto;

		blockquote{
			margin-left: 0px;
			border-left: 1px solid #ccc;
			padding-left: 10px;
		}

		&--unread{
			font-weight: 800;
		}

		&--read{
			background-color: #f2f2f2;
			color: #999;

			a{
				color: #999;
			}
		}
	}



	// member & profile page
	&__member{}

	&__memberImageCntr{
		overflow: hidden;
		width: 100%;
		margin: 0px auto 40px auto;
		padding-bottom: 40px;
		border-bottom: 1px solid #eee;

		@media only screen and (max-width: $screen-xs) {
			margin: -100px auto 0 auto;
		}

		@media only screen and (max-width: $screen-xs) {
			margin: 0;
		}
	}

	&__memberImage{
		@extend .flex-img;
		clip-path: circle(44% at 50% 50%);
		max-width: 200px;
		margin: 0 auto;
		display: block;

		&--small{
			max-width: 30px;
		}
	}

	&__memberAbout{
		font-size: 1.2rem;
		line-height: 1.5;
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}



	&__edit{
		margin: 0 0 200px 0;
	}



}