.footer{
	float: left;
	padding: 40px 20px 20px 20px;
	width: 100%;
	background-color: #333;
	@extend .grid;

	@media only screen and (max-width: $screen-md) {
		padding-bottom: 60px;
	}


	&__col--1{
		@extend %float-left;
		@extend .span-3-10-md;
		@extend .span-1-1;
		padding: 0;
	}

	&__col--2{
		@extend %float-left;
		@extend .span-7-10-md;
		@extend .span-1-1;
		padding: 0 20px 20px 20px;
	}

	&__logo{
		max-width: 200px;
		width:100%;
		height:auto;
		display: block;
   		margin: 0 auto 10px auto;

   		&--shield{
   			width: auto;
   			max-height: 75px;
   		}
	}

	&__legal{
		font-size: 1.3rem;
		color: #ccc;
		line-height: 1.5;

		@media only screen and (max-width: $screen-md) {
			font-size: 1.1rem;
			text-align: center;
		}

		&--center{
			text-align: center;
		}
	}

	a{
		color: #fff;
		border-bottom: 1px dotted #aaa;
		text-decoration: none;
	}

	&__list{
		list-style-type: none;
		text-align: center;
		margin-bottom: 20px;
	}

	&__listItem{
		display: inline-block;
		padding: 10px;
	}

	&__link{
		display: block;
	}
}