// -------------------------
//	Global Header
// -------------------------

.header{
	width: 100%;
	padding: $standard-padding;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	border-bottom: 1px solid #999;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


	&--white{
		background: none;
		border-bottom:1px solid rgba(255, 255, 255, 0.25);
	}


	@media only screen and (max-width: $screen-sm) {
		padding-bottom: 10px;
	}


	&__logo{
		width: 40%;
		float: left;
		position: relative;

		@media only screen and (max-width: $screen-md) {
			width: 35%;
		}
		
		@media only screen and (max-width: $screen-sm) {
			width: 100%;
		}
	}


	&__logoImg{
		height: 70px;

		@media only screen and (max-width: $screen-sm) {
			display: block;
			margin: 0 auto;
		}
	}

	&__backButtonLink{
		display: none;
		position: absolute;
		top: 50%;
		margin-top: -32px;
		padding: 10px;
		left: -15px;

		@media only screen and (max-width: $screen-xs) {
			display: block;
		}
	}

	&__backButton{
		fill: #fff;
		width: 40px;
	}
}


// -------------------------
//	Header logo
// -------------------------

.logo{

	&__img{
		width: 50%;
		display: block;
		margin: 0 auto;
	}

	&__small{
		width: 25%;
	}

}



