.header{
	width: 100%;
	padding: $standard-padding;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	border-bottom: 1px solid #999;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


	&--white{
		background: none;
		border-bottom:1px solid rgba(255, 255, 255, 0.25);
	}


	@media only screen and (max-width: $screen-sm) {
		padding-bottom: 10px;
	}


	&__logo{
		width: 40%;
		float: left;

		@media only screen and (max-width: $screen-md) {
			width: 35%;
		}
		
		@media only screen and (max-width: $screen-sm) {
			width: 100%;
		}
	}


	&__logoImg{
		height: 80px;

		@media only screen and (max-width: $screen-sm) {
			display: block;
			margin: 0 auto;
		}
	}
}




.logo{

	&__img{
		width: 50%;
		display: block;
		margin: 0 auto;
	}

	&__small{
		width: 25%;
	}

}





.nav{
	width: 60%;
	float: right;
	display: flex;
	text-align: center;
	margin-top: 20px;

	@media only screen and (max-width: $screen-md) {
		width: 65%;
		margin-top: 15px;
	}
	
	@media only screen and (max-width: $screen-sm) {
		bottom: 0;
		left: 0;
		border: none;
		background-color: rgba(32, 32, 33, 0.91);
		height: auto;
		position: fixed;
		z-index: 999;
		width: 100%;
	}

	&__item{
		display: inline-block;
		flex: 1 0 auto;

		@media only screen and (min-width: $screen-xl) {
			&--more{
				display: none;
			}
		}

		@media only screen and (max-width: $screen-sm) {
			&--login{
				display: none;
			}

			&--more{
				display: block;
			}
		}

		@media only screen and (min-width: $screen-sm) {
			&--login{
				display: block;
			}
		}
	}

	&__link{
		display: block;
		padding: 7px 5px 5px 5px;
		color: #fff;
		text-decoration: none;

		@media only screen and (max-width: $screen-sm) {
			color: #ccc;
		}
	}

	&__icon{
		fill: #fff;
		height: 20px;
		margin-bottom: 5px;

		@media only screen and (max-width: $screen-sm) {
			fill: #ccc;
		}
	}

	&__label{
		display: block;

		@media only screen and (max-width: $screen-sm) {
			font-size: .9rem;
			text-transform: uppercase;
		}
	}

}




.mobileNav{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #414042;
    z-index: 9999;
    border-left: 1px solid #414042;
    overflow-y: auto;

	-webkit-transition: all 1s cubic-bezier(.97,-0.1,.34,1.17);
	   -moz-transition: all 1s cubic-bezier(.97,-0.1,.34,1.17);
	     -o-transition: all 1s cubic-bezier(.97,-0.1,.34,1.17);
			transition: all 1s cubic-bezier(.97,-0.1,.34,1.17);

    &--show{
    	right: 0 !important;
    	display: block !important;
    }

    &__header{
    	font-size: 4rem;
    	font-weight: 200;
    	width: 100%;
    	text-align: center;
    	margin: 0;
    	padding: 20px;
    	color: #cdd136;
    }

	&__list{
		list-style-type: none;
		@extend .grid;
		padding: 0;
		margin: 0;
		width: 100%;
		float: left;	
	}

	&__item{
		@extend .span-1-3;
		float: left;
		border-top: 2px solid #414042;
		border-right: 2px solid #414042;
	}

	&__link{
		color: #bfbdc1;
		display: block;
		padding: 25px 10px;
		text-align: center;
		background-color: #4e4e50;
		line-height: 1.25;
	}

	&__icon{
		fill: #bfbdc1;
		height: 30px;
	}

	&__text{
		display: block;
		margin-top: 8px;
		line-height: 1;
	}

	&__closeIcon{
		fill: #bfbdc1;
		height: 30px;
	}

	&__close{
		display: block;
		position: absolute;
		padding: 10px;
	}
}
