.hero{
    width: 100%;
    float: left;
    min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;

	&--short{
		height: 300px;
		min-height: auto;
		background-image: url(../assets/point-background-transparent.png);
		background-size: inherit;

		@media only screen and (max-width: $screen-sm) {
			background-size: inhert;
			height: 250px;

			.hero__textCntr{
				top: 190px;
			}
		}
	}
	
	
	&__control{
		display: none;
	}

	@media only screen and (max-width: $screen-md) {
		// for button and controls located in the hero that only need to show on mobile
		&__control{
			display: block;
		}
	}


	&--blue{
		background-color: $blue;
		background-position: 63px -458px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -137px -458px;
		}
	}

	&--orange{
		background-color: $orange;
		background-position: 63px -117px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -63px -117px;
		}
	}

	&--green{
		background-color: $green;
		background-position: 300px -889px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -130px -889px;
		}
	}

	&--red{
		background-color: $red;
		background-position: 450px 0px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -100px 0px;
		}
	}


	&--yellow{
		background-color: $yellow;
		background-position: 0 -800px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -70px -800px;
		}		
	}


	&--purple{
		background-color: $purple;
		background-position: 100px -350px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -100px -350px;
		}
	}




	&__overlay{
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__textCntr{
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -50px;
		width: 100%;
		text-align: center;

		@media only screen and (max-width: $screen-md) {
			top: 35%;
			padding: 60px;
			margin-top: -80px;
		}

		@media only screen and (max-width: $screen-sm) {
			padding: 20px;
		}
	}

	&__heading{
		font-size: 7rem;
		line-height: 1;
		margin: 0 0 20px 0;
		color: #fff;

		&--centerSecondary{
			font-weight: 300;
			font-size: 6rem;
			text-align: center;
			margin: 50px 0 30px 0;
			line-height: 1;
		}

		@media only screen and (max-width: $screen-lg) {
			font-size: 6rem;
		}

		@media only screen and (max-width: $screen-sm) {
			margin: 0 0 20px 0;
			line-height: 1;
			font-size: 4rem;
		}


		&--2{
			font-size: 3rem;
			line-height: 1.4;
		}


	}

	&__text{
		font-size: 2.1rem;
		color: #fff;
		margin-bottom: 40px;
		line-height: 1.5;
	}



}