.tile{
	display: block;
	background-color: #ccc;
	padding: $standard-padding;
	text-decoration: none;
	position: relative;
	border-radius: 5px;
	box-shadow: 20px 12px 30px 3px rgba(0, 0, 0, 0.2);
	color: #fff;
	background-image: url(../assets/point-background.png);

	&--withCTA{
		padding-bottom: 60px;
	}

	&--orange{
		background-color: $orange;
		background-position: 63px -117px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -63px -117px;
		}
	}

	&--yellow{
		background-color: $yellow;
		background-position: 0 -800px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -70px -800px;
		}		
	}

	&--purple{
		background-color: $purple;
		background-position: 100px -350px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -100px -350px;
		}
	}

	&--red{
		background-color: $red;
		background-position: 1000px 0px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -100px 0px;
		}
	}

	&--blue{
		 background-color: $blue;
		 background-position: 120px -590px;

		 @media only screen and (max-width: $screen-sm) {
			background-position: -10px -590px;
		}
	}

	&--green{
		background-color: $green;
		background-position: 300px -889px;

		@media only screen and (max-width: $screen-sm) {
			background-position: -130px -889px;
		}
	}



	&__heading{
		font-size: 4rem;
		line-height: 1;
		padding-top: 80px;
		z-index: 99;

		@media only screen and (min-width: $screen-md) {
			font-size: 6rem;
		} 
	}

	&__headingCTA{
		width: 65%;
	}


	&__superHeading{
		font-size: 1.8rem;
		display: block;

		@media only screen and (min-width: $screen-md) {
			font-size: 2.1rem;
		}
	}
	
	&__subIcon{
		height: 30px;
		position: absolute;
		bottom: 25px;
		right: 20px;
		fill: #fff;

		&--cta{
			left: 8px;
			bottom: 8px;
			height: 20px;
		}
	}


	&__location{
		display: block;
		font-size: 3rem;
	}


	&__cta{
		background-color: #e74c3c;
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 2.1rem;
		padding: 5px 20px 10px 40px;
		border-radius: 3px;

		@media only screen and (max-width: $screen-sm) {
			font-size: 1.6rem;
		}
	}

	&__eventImg{
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 61% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 61% 100%);
		border-radius: 5px;
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		@media only screen and (max-width: $screen-md) {
			height: 100%;
			top: 0;
		}

	}
}